.item-enter {
    transform: translate(-350px);
    
  }
  .item-enter-active {
    transform: translate(0px);
    transition: all 500ms ease-in;
    overflow: hidden;
  }
  .item-exit {
    opacity: 1;
    overflow: hidden;
  }
  .item-exit-active {
    transform: translate(-350px);
    transition: all 500ms ease-in;
    overflow: hidden;
  }